@media screen and (max-width: 600px) {

    .btn-header {
        display: none;
    }
    .home-knuckles-text {
        display: none;
      }

    .home-knuckles-text h2 {
        display: none;
      }

    .home-knuckles-image img {
        max-height: 320px;
      }

      .header-btn {
        width: 78px;
        height: 36px;
        color: #fff;
        padding: 8px 20px;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
      }
      
      .btn-3 {
        width: 78px;
        height: 36px;
        line-height: 40px;
        padding: 0;
        border: none;
        
      }
}