@media screen and (max-width: 600px) {
    .home-knuckles-text {
        top: 50%;
        margin-top: -100px;
      }

    .home-knuckles-text h2 {
        font-size: 100px;
        line-height: 100px;
      }

    .home-knuckles-image img {
        max-height: 450px;
      }
}